/*Global*/
.react-datepicker__time-list {
  padding-right: 0 !important;
}

.react-datepicker-wrapper{
  width: 100%;
  margin-bottom: 20px;
}

.react-datepicker__input-container{
  width: 100%;
}

.react-datepicker__input-container input{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.react-datepicker-ignore-onclickoutside {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

/*App Component*/
.dates {
  font-family: IRANSans;
  direction: rtl;
  text-align: right;
  cursor: default;
  padding-top: 20px;
  position: relative;
}

.card-title {
  color: #854000;
}

.index-actions button {
  margin: 0 7px;
}

.index-actions button:first-child {
  margin: 0px;
}

.user {
  margin: 10px 0;
  color: #28467a;
}

/*DatesList Component*/
.dates__list {
  margin-top: 10px;
}

.confirm__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #854000;
  font-size: 20px;
  font-weight: bold;
}

.table * {
  text-align: center;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.status {
  border-radius: 5px;
  padding: 5px;
}

.status--success {
  color: rgba(49, 40, 39, 0.75);
  background-color: rgba(124, 218, 61, 0.66);
}

.status--danger {
  color: #ffffff;
  background-color: rgba(242, 129, 0, 0.75);
}

.controls__item {
  padding: 0 5px;
  cursor: pointer;
}

/* Login Page */

.auth {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
}

.auth > div {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

/* add-date */
.filed{
  background-color: #e9ecef;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  color: rgb(112, 112, 112);
}







